/node_modules
/vendor
/.idea
/.vscode
/.env
/.env.*
/.env.backup
/.env.production
/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
/auth.json
npm-debug.log
yarn-error.log
/.fleet
/.sublime*

/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/data/*
!/storage/framework/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep

/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep

.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
